/* Independent article */

@media (max-width: 750px) {
    .articleBlind {
        min-height: auto !important;
    }

    .textContainer {
        margin-left: 4%;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote {
    padding: 5px;
    padding-left: 20px;
    margin: 0;
    box-shadow: -10px 0px 0px -5px rgb(87, 87, 87);
}

.articleBlind {
    width: 100%;
    height: auto;
    min-height: 200px;
    height: auto;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.articleBlind h1 {
    color: white;
    text-align: center;
    font-size: xx-large;
    margin: 0;
    margin-top: 20px;
}


.textContainer {
    width: 1000px;
    max-width: 96%;
    color: white;
}

.mail {
    color: white;
    text-decoration: none;
}

/* End of independent article */

/* Article List */

.articleContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 500px;
    max-width: 100%;
}

.articleContainer img {
    overflow: hidden;
    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 2%;
}

.articleContainer h1 {
    color: white;
    margin-left: 2%;
}

.articleContainer p {
    color: white;
    margin-left: 2%;
}

.articleContainer a {
    color: white;
    margin-left: 2%;
}

a:hover {
    box-shadow: -0px -0px 0px -0px;
}

.seperator {
    height: 1px;
    max-width: 90%;
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

/* End of Article list */