@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --background: var(--color-main-900);
  --foreground: #ffffff;

  --color-main-800: #1b1b1b;
}

body {
  font-family: "Geist", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: revert;
}

@theme inline {
  --color-main-50: var(--color-gray-50);
  --color-main-100: var(--color-gray-100);
  --color-main-200: var(--color-gray-200);
  --color-main-300: var(--color-gray-300);
  --color-main-400: var(--color-gray-400);
  --color-main-500: var(--color-gray-500);
  --color-main-600: var(--color-gray-600);
  --color-main-700: #1b1b1b;
  --color-main-800: rgb(32, 32, 32);
  --color-main-900: rgb(14, 14, 14);
  --color-main-950: #070707;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Outfit', sans-serif;
}